
/*=======================================
Template Design By MarkUps	
Author URI : http://www.markups.io/
========================================*/



.mu-primary-btn:hover,
.mu-primary-btn:focus,
.mu-filter-link:hover,
.mu-filter-imglink:hover,
.mu-filter-link:focus,
.mu-filter-imglink:focus,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-copy-right a:hover,
.mu-copy-right a:focus {
	color: #f4813f;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #ECB388;
	color: #ECB388;
	background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button,
.mu-resume-btn:hover,
.mu-resume-btn:focus,
.mu-header-dot,
.mu-filter-item-content,
.mu-contact-top-single .mu-icon,
.mu-skill-progress-bar .mu-pro-bar,
#mu-featured-slider,
#mu-header.mu-fixed-nav {

	background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}

.mu-contact-form .form-control:focus {
	border: 1px solidecb388;    
} 

.mu-resume-btn,
.mu-service-icon-box {
	border: 2px solid #f4813f;
	color: #f4813f;
}


.mu-pro-bar .proggress {
	background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}

.left-image-decor {
	background-image: url(../images/left-bg-decor.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 110%;
	margin-top: -200px;
  }